.env
config.py
audio_files
logs
venv
data/seat_gen.py
data/seats_billie_eilish.json
data/tickets.db
data/tickets.json
data/ping_users.json
data/seats_gen.py
data/tickets.db-shm
data/tickets.db-wal
.idea
backups
